.swim-lanes-wrapper {
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;

  /* display: table; */
  /* width: 95%; */
}
.active-sprint-header-wrapper {
  width: 90%;
  margin: 0 auto;
}
.active-sprint-header-item {
  display: inline-block;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.active-sprint-header-item:first {
  float: left;
}
.active-sprint-header-item:nth-child(2) {
  margin-left: 40%;
}
.active-sprint-header-item:last-child {
  float: right;
}
.swim-lane-body-wrapper {
  background: #0d5c6383;
  padding: 10px;
  border-top: 5px solid lightgray;
}
.swim-lane-header {
  text-align: left;
  padding-left: 10px;
}

.dates {
  font-weight: 150;
  font-size: 15px;
}
.points {
  font-weight: 250;
  font-size: 18px;
}

#end-sprint-button {
  background: blanchedalmond;
  border-radius: 7px;
  color: black;
  font-weight: bold;
  padding: 7px;
  font-size: 13px;
}
#end-sprint-button:hover {
  background: rgb(129, 119, 104);
  color: white;
  border: none;
}

/* .swim-lane-wrapper + .swim-lane-wrapper {
  margin-left: 10px;
} */
