.todo-list-item:hover {
  cursor: pointer;
}

.backlog-page-wrapper {
  width: 90%;
  margin: 0 auto;
  min-width: 300px;
}
.backlog-page-header-wrapper {
  margin-bottom: 15px;
  height: 50px;
}
.backlog-page-header-item {
  float: right;
  margin-left: 10px;
}

.sprint-wrapper {
  width: 95%;
  margin: 0 auto;
}
.sprint-header-item {
  display: inline-block;
}

#start-sprint-button,
#create-sprint-button,
#create-todo-button {
  float: right;
  /* background: #56b3ff; */
  background: blanchedalmond;
  border-radius: 7px;
  color: black;
  font-weight: bold;
  font-size: 13px;
}
#create-sprint-button {
  background: blanchedalmond;
}
#start-sprint-button {
  background: white;
  color: #53affa;
}
#start-sprint-button:hover {
  background: #53affa;
  color: white;
}

.backlog-button:hover {
  cursor: pointer;
}
#create-todo-button:hover,
#create-sprint-button:hover {
  background: rgb(168, 155, 135);
  color: white;
}

.todos-list {
  background: #0d5c6383;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 3px;
  padding-left: 3px;
  min-height: 100px;
  border-radius: 6px;
}

.sprint-wrapper {
  /* border-top: 1px solid lightblue; */
  margin-bottom: 40px;
  background: #3333331f;
  padding: 10px;
  border-left: 2px solid lightblue;
  box-shadow: 1px 1px 1px gray;
}

.sprints-section {
  border-bottom: 5px solid black;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

.sprint-name {
  font-weight: bolder;
  color: #000c98;
}

.no-list {
  text-align: center;
}
