.todo-list-item:hover {
  cursor: pointer;
}

.backlog-page-wrapper {
  width: 90%;
  margin: 0 auto;
  min-width: 300px;
}
.backlog-page-header-item {
  float: right;
}
.sprint-wrapper {
  width: 95%;
  margin: 0 auto;
  min-height: 150px;
  position: relative;
}
.sprint-header-item {
  display: inline-block;
}
.backlog-wrapper {
  width: 95%;
  margin: 0 auto;
  min-height: 150px;
  position: relative;
}
.backlog-header-item {
  display: inline-block;
}
#sprint-start-button,
#create-sprint-button,
#create-todo-button {
  float: right;
  background: #56b3ff;
  border-radius: 7px;
  color: white;
  font-weight: bold;
}
#create-sprint-button {
  background: green;
}

#sprint-start-button:hover,
#create-sprint-button:hover,
#create-todo-button:hover {
  box-shadow: 0px 2px 2px 1px slategray;
  border: none;
  cursor: pointer;
}

.todos-list {
  background: #0d5c6383;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 3px;
  padding-left: 3px;
  min-height: 100px;
  border-radius: 6px;
}
